<div class="container">
    <div class="header">
      <div class="header-content">
      <!-- <mat-icon>arrow_back</mat-icon>   -->
        <h1>City Center Almaza</h1>
        <div class="points">
          <span>2500 pts</span>
        </div>
        <!-- <mat-icon>notifications</mat-icon>  -->
       
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-info">
        <img src="path_to_ahmad_image" alt="Ahmad Kolakji" class="profile-pic" />
        <div class="profile-text">
          <h2>Ahmad Kolakji</h2>
          <p>2500 pts</p>
        </div>
      </div>
    </div>
  
    <div class="tabs">
      <button mat-button>Game 1</button>
      <button mat-button>Game 2</button>
      <button mat-button>Game 3</button>
    </div>
  
    <div class="leaderboard">
      <div class="leaderboard-item">
        <img src="path_to_ahmad_image" alt="Ahmad Kolakji" class="leaderboard-pic" />
        <div class="leaderboard-text">
          <h3>1st Ahmad Kolakji</h3>
          <p>2500 pts</p>
        </div>
      </div>
      <div class="leaderboard-item">
        <img src="path_to_maria_image" alt="Maria Fawzi" class="leaderboard-pic" />
        <div class="leaderboard-text">
          <h3>2nd Maria Fawzi</h3>
          <p>2300 pts</p>
        </div>
      </div>
      <div class="leaderboard-item">
        <img src="path_to_sama_image" alt="Sama Ramzi" class="leaderboard-pic" />
        <div class="leaderboard-text">
          <h3>3rd Sama Ramzi</h3>
          <p>2250 pts</p>
        </div>
      </div>
      <div class="leaderboard-item">
        <img src="path_to_ahmad_image" alt="Ahmad Kolakji" class="leaderboard-pic" />
        <div class="leaderboard-text">
          <h3>4th Ahmad Kolakji</h3>
          <p>2100 pts</p>
        </div>
      </div>
    </div>
  
    <div class="bottom-nav">
      <!-- <mat-icon>home</mat-icon>
      <mat-icon>bar_chart</mat-icon>
      <mat-icon>emoji_events</mat-icon>
      <mat-icon>refresh</mat-icon> -->
      
    </div> 
  </div>
 